@charset "UTF-8";
/*Estilos para telas */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    font-size: 1em;

}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 50px; 
    min-height: 50px;
}
menu li{
    display: inline-block;
    padding: 10px;
    list-style-type: none;
}
article{
    display: block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    line-height: 1.4em;
}