@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
    font-family: "Passion One";
    src: url(C:\Users\24493\Documents\cursoemvideo\html-css\desafios\d012\imagens\PassionOne-Bold.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;

}
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-titulo: 'Passion One',sans-serif;
    --fonte-padrao:Verdana,Geneva,Tahona,sans-serif;
    --fonte-poema:Sriracha, cursive;
}
body{
    height: 97vh;
}
header{
    background-color: black;
    color: white;
    max-height: 350px;
    min-height: 150px;
    padding-top: 40px;
}
header>h1{
    font-style: normal;
    font-size: 10vh;
    font-family: var(--fonte-titulo);
    text-align: center;
}
header>p{
    font-family: var(--fonte-padrao);
    text-align: center;
    font-size: 1.3em;
}

.folha{
    padding: 15px;
    margin: 15px;
    background-color: white;
    color: black;
    font-family: var(--fonte-poema);
    
}
#girassol{
    color: rgb(20, 10, 10);
    background-color: aqua;
    background-image: url();

}
