@charset "UTF-8";

 body{
            background-color: rgb(27, 27, 27);
            color: white;
        }
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
        a{
            text-align: center;
            color: white;
        }
        iframe{
            display: block;
            margin: auto;
        }