@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
    font-family: "Passion One";
    src: url(C:\Users\24493\Documents\cursoemvideo\html-css\desafios\d012\imagens\PassionOne-Bold.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;

}
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-titulo: 'Passion One',sans-serif;
    --fonte-padrao:Verdana,Geneva,Tahona,sans-serif;
    --fonte-poema:Sriracha, cursive;
}
body{
    height: 97vh;
}
header{
    background-color: black;
    color: white;
    max-height: 350px;
    min-height: 150px;
    padding-top: 40px;
}
header>h1{
    font-style: normal;
    font-size: 10vh;
    font-family: var(--fonte-titulo);
    text-align: center;
}
header>p{
    font-family: var(--fonte-padrao);
    text-align: center;
    font-size: 1.3em;
}

.folha{
    padding: 15px;
    margin: 15px;
    background-color: white;
    color: black;
    font-family: var(--fonte-poema);
    min-height: 300px;
}
#girassol{
    color: white;
    background-color:black;
    background-image: url(../fotos/background001.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-height: 600px;
    min-height: 320px;
    padding: 40px;
}
#girassol>p{
    font-family: var(--fonte-poema);
    background-color: rgba(0, 0, 0, 0.356);
    background-position: center left;
   width: 210px;
   padding: 10px;
   text-align: justify;
}
#estrofes{
    color: white;
    background-color:black;
    background-image: url(../fotos/background002.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-height: 500px;
    min-height: 320px;
    padding: 40px;
}
#estrofes>p{
    font-family: var(--fonte-poema);
    background-color: rgba(0, 0, 0, 0.356);
    background-position: center left;
    width: 210px;
    padding: 10px;
    text-align: justify;
}
footer{
    background-color: black;
    color: white;
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
a:hover{
    text-decoration: underline;
}