@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
    font-family: "Passion One";
    src: url(C:\Users\24493\Documents\cursoemvideo\html-css\desafios\d012\imagens\PassionOne-Bold.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;

}
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-titulo: 'Passion One', 'cursive';
    --fonte-padrao:Verdana,Geneva,Tahona,sans-serif;
    --fonte-poema:Sriracha, cursive;
}
html,body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    max-height: 350px;
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}
header>h1{
    font-style: normal;
    font-size: 10vw;
    font-family: var(--fonte-titulo);
    text-align: center;
    font-variant: small-caps;
    padding-top: 50px;
}
header>p{
    font-family: var(--fonte-padrao);
    font-size: 1em;
    padding-bottom: 50px;
}
section{
    font-family: var(--fonte-poema);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}
section.imagem{
    background: darkgray;
    color: white;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.548);
    background-size: cover;
}
section.imagem>p{
    background-color: rgba(0, 0, 0, 0.473);
    display: inline-block;
    text-shadow: 1px 1px 0px black;
    padding: 10px;
}


.folha{ 
    background-color: white;
    color: black;
}
#girassol{
    color: white;
    background-color:black;
    background-image: url(../fotos/background001.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#estrofes{
    color: white;
    background-color:black;
    background-image: url(../fotos/background002.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer{
    background-color: black;
    color: white;
}
footer>p{
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 10px;
    font-size: 1em;
}
a>p{
    font-size: 1em;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    
}
a:hover{
    text-decoration: underline;
}
p{
    padding-top: 10px;
    padding-bottom: 25px;
}