@charset "UTF-8";


body {
    background-color: lightgoldenrodyellow;
    color: chocolate;
    font-size: 12pt;
    font-family: Arial;
}
h1{
    color: rgb(185, 50, 50);
    background-color: darkgoldenrod;
}

a{
    color:brown;
    text-decoration: none;
}