@charset "UTF-8";
/*configurações gerais*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: #233eff;
    background-repeat: no-repeat;
}
h1{
     color: whitesmoke;
    text-shadow: 2px 2px 0px #1829ac;
    padding: 10px;
}