@charset "UTF-8";
/*declarações gerais */
            *{
                margin: 0px;
                padding: 0px;
                font-family: Arial, Helvetica, sans-serif;
            }
            html, body{
                height: 100vh;
                width: 100vw;
                background-color: #233eff;
                background-repeat: no-repeat;
            }
            h1{
                color: whitesmoke;
                text-shadow: 2px 2px 0px #1829ac;
                padding: 10px;
            }
        /*declarações retrato*/
        @media screen and (orientation: portrait){
            body{
    background: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
        }
        }

        /*declarações paisagem*/
        @media screen and (orientation: landscape){
            body{
    background: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;

    }
        }