@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right,#007172,#025259);
}
main{
    background-color: #F4E2DE;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #012b2e94;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
   color: #D94F04;
   text-shadow: 1px 1px 2px #8f3403a9;
}

h2{
    color:#db8522;
}
p{
text-align: justify;
}